/* Color Inspiration from: https://www.canva.com/learn/website-color-schemes/ */
:root {
  --main-bg-color: #0e0b16;
  --main-text-color: #eae8ff;
  --main-header-color: #e63462;
  --color-accent: #4717f6;
  --color-shadow: #d1ccdc;
  /* #8f9491 */
}

body {  
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}

.frame > *:not(nav) {
  padding: 4% 10%;
}

h1 {
  color: var(--main-header-color);
}

h2,
h3 {
  color: var(--color-accent);
  padding: 1% 0;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

/* ===== NAVBAR ===== */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-bg-color);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: var(--main-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: var(--color-accent);
}

/* ===== MAIN SECTION ===== */
main {
  text-align: center;
}

main h2 {
  color: var(--main-text-color);
}

.profile-pic {
  width: 15%;
  border-radius: 50%;
}



/* ===== DIV STYLING ===== */
section:nth-child(odd) {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}



/* ===== PORTFOLIO ===== */
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  height: auto;
}


.portfolio-box {
  /* Source for box-shadow property: https://www.w3schools.com/css/css3_shadows.asp */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  text-align: center;
  margin: 2% 0;
  padding: 1%;
  width: 45%;
}


.portfolio-pic {
  max-height: 250px;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
}


.portfolio-box ul,
.portfolio-box li {
  display: inline-block;
  font-style: italic;
  list-style-type: none;
  margin: 15px;
  padding: 0;
}


.portfolio-box a:hover {
  opacity: 0.5;
}


@media only screen and (max-width: 800px) {
  .portfolio-box {
      width: 90%;
  }
}

/* ===== SKILLS ===== */
.skills {
  overflow: hidden;
  text-align: center;
}

.skills h1 {
  text-align: left;
}

.skills > div {
  display: inline-block;
  padding: 3.5%;
}


/* ===== RESOURCES ===== */
.resources {
  overflow: hidden;
}

.resources > div {
  display: inline-block;
  padding: 0 3% 2% 0;
  text-align: center;
  max-width: 30%;
  vertical-align: top;
}


.logo {
  height: 50px;
  object-fit: contain;
  object-position: center;
  width: auto;
}



.book-image {
   height: 20vh;
}


.resources a:hover {
  opacity: 0.5;
}


/* ===== FOOTER ===== */
footer i {
  padding: 0 3% 0 0;
  color: var(--main-text-color);
  font-size: 0.8rem;
}