/* ==== Basic CSS styling for elements across the page ==== */
html {
  background-color: #2d3c49;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
}


.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 1000px;
}


.box {
  background-color: #fff;
  margin: 0.5rem;
  padding: 20px;
  width: 100%;
}


.box h2 {
  color: #2d3c49;
  font-family: "Kaushan Script", cursive;
  font-size: 2.1rem;
  text-align: center;
}
/* END: Basic CSS styling  */




/* ==== Header Div styling ==== */
.header {
  background-color: #02b3e4;
  display: inline;
  font-family: "Kaushan Script", cursive;
  margin: 0.5rem;
  padding: 20px;
  position: relative;
  text-align: center;
  width: calc(100% - 1rem);
  z-index: -1;
}


.header h1 {
  color: #fff;
  font-size: 3.4rem;
  text-shadow: 2px 2px #000;
  z-index: 1;
}


.header h2 {
  font-size: 2rem;
  z-index: 1;
}


.profile-pic {
  border-radius: 110px;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 220px;
  z-index: -1;
}


hr {
  border: 0;
  border-top: 2px dotted #2d3c49;
}


.quote {
  font-family: sans-serif;
  font-size: 1.1rem;
  font-style: oblique;
}
/* END: Header Div styling */




/* ==== About Me Div styling ==== */
.top {
  line-height: 1.5;
  padding: 20px 50px 35px 50px;
}
/* END: About Me Div styling */




/* ==== Portfolio Div styling ==== */
.middle {
  display: flex;
  flex-flow: row wrap;
}


.middle h2 {
  width: 100%;
}


.portfolio-box {
  /* Source for box-shadow property: https://www.w3schools.com/css/css3_shadows.asp */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1.5rem;
  text-align: center;
  width: calc(50% - 4rem);
}


.portfolio-pic {
  max-height: 250px;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
}


.portfolio-box ul,
.portfolio-box li {
  display: inline-block;
  font-style: italic;
  list-style-type: none;
  margin: 15px;
  padding: 0;
}


.portfolio-box a:hover {
  opacity: 0.5;
}
/*END: Portfolio Div styling */




/* ==== Resources Div styling ==== */
.resources {
  padding-left: 50px;
  padding-right: 50px;
}


.resources h3:nth-child(n+3){
  padding-top: 35px;
}


.resources ul,
.resources li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
  padding: 0;
}


.logo {
  height: 50px;
  object-fit: contain;
  object-position: bottom;
  width: 50px;
}


.image {
  display: inline-block;
  max-height: 150px;
  padding-right: 10px;
}



.resources a:hover {
  opacity: 0.5;
}
/*END: Resources Div styling */




/* ==== Bottom Div styling ==== */
.bottom {
  background-color: #7d97ad;
  line-height: 1.5;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}


.bottom a {
  color: #fff;
  text-decoration: none;
}


.bottom a:hover {
  background-color: #02b3e4;
}
/*END: Bottom Div styling */
